# Chi-square Test

* Chi-square Test of Independence / Association
* Chi-square Test of Goodness of fit
* Chi-square Test of Homogeneity

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np
from scipy.stats  import chi2_contingency
import researchpy as rp
from scipy import stats

In [2]:
df = pd.read_csv(r'C:\Users\SHARVARI AVHAD\Desktop\Inferential Statistics\Statistics.csv')

In [3]:
df.head()

,Age Group,Gender,Profession,Better Service Provider,Pocket friendly Service,Cashless transactions problem,Daily_spendings,Monthly_spending,Quality decider attribute,Frequency of booking,Most usage day,Punctual service,Offer provider,Fast connector to driver,Faster issue resolver
0,15 - 30,Female,Student,Ola,Ola,Never faced this issue,200,2000,Most,2-3 times in a month,Weekends,Ola,Uber,Ola,Uber
1,15 - 30,Female,Student,Ola,Ola,More often in Uber,100,1500,Pricing,Only on special occasions,Weekends,Ola,Uber,Both equally,Never faced any issue
2,15 - 30,Male,Student,Both provide equal quality,Uber,Faced this issue equally in both,50,1000,Driver's behaviour,Only on special occasions,Weekends,Both equally,Ola,Both equally,Never faced any issue
3,15 - 30,Male,Student,Ola,Uber,Never faced this issue,200,1000,Driver's behaviour,Only on special occasions,Weekdays,Both equally,None,Ola,Never faced any issue
4,15 - 30,Female,Student,Both provide equal quality,Uber,Never faced this issue,100,500,Driver's behaviour,2-3 times in a month,Weekends,Both equally,Ola,Both equally,Never faced any issue

In [4]:
df.columns

Index(['Age Group', 'Gender', 'Profession', 'Better Service Provider',
       'Pocket friendly Service', 'Cashless transactions problem',
       'Daily_spendings', 'Monthly_spending', 'Quality decider attribute',
       'Frequency of booking ', 'Most usage day', 'Punctual service',
       'Offer provider', 'Fast connector to driver', 'Faster issue resolver'],
      dtype='object')

In [5]:
df.Gender.value_counts()

Female    78
Male      73
Name: Gender, dtype: int64

# Chi-square Test of Independence / Association

### Hypothesis

* Ho:- There is no relationship between the Gender and Better Service Provider ( independent )

* H1:- There is relationship between the Gender and Better Service Provider ( dependent )

In [6]:
table, results = rp.crosstab(df['Gender'], df['Better Service Provider'], test = 'chi-square') 
    
table

                           Better Service Provider                             \
Better Service Provider Both provide equal quality None of the above Ola Uber
Gender
Female                                          28                 5  25   20
Male                                            29                 1  26   17
All                                             57                 6  51   37


Better Service Provider  All
Gender
Female                    78
Male                      73
All                      151

In [7]:
results

                Chi-square test  results
0  Pearson Chi-square ( 3.0) =    2.7846
1                    p-value =    0.4260
2                 Cramer's V =    0.1358

### Conclusion
* There is no relationship between the Gender and Better Service Provider ( Independent )

# Chi-square Test Goodness of fit

### Hypothesis

* Ho:- The proportion of people selecting Ola, Uber & None is 44.7%, 42.7% & 12.7%, will not have different proportion in Sample

* H1:- The proportion of people selecting Ola, Uber & None is 44.7%, 42.7% & 12.7%, will have different proportion in Sample

In [8]:
import scipy.stats as stats

In [9]:
def expected_value(n,p1,p2,p3):
    e1 = n*p1
    e2 = n*p2
    e3 = n*p3
    return list([e1,e2,e3])

In [10]:
expected_value(150,0.44,0.42,0.12)

[66.0, 63.0, 18.0]

In [11]:
expected = (66,63,18)
observed = (67,64,19)

In [12]:
stats.chisquare(f_exp = expected, f_obs = observed)

Power_divergenceResult(statistic=0.08658008658008658, pvalue=0.9576335945841911)

### Conclusion

The proportion of people selecting Ola, Uber & None is 44.7% , 42.7% & 12.7% will not have different proportion in Sample

# Chi-Square Test of Homogeneity

### Hypothesis

* Ho:- The proportion of boys who prefer the Ola is identical to the proportion of girls
* H0:- The proportion of boys who prefer the Uber is identical to the proportion of girls
* H0:- The proportion of boys who prefer the None to the proportion of girls

Vs 

* H1 :-  At least one of the null hypothesis statements is false.

In [13]:
table, results = rp.crosstab(df['Gender'], df['Pocket friendly Service'], test= 'chi-square') #,prop='row')
    
table

                        Pocket friendly Service
Pocket friendly Service       None of the above Ola Uber  All
Gender
Female                                       11  31   36   78
Male                                          8  37   28   73
All                                          19  68   64  151

In [14]:
results

                Chi-square test  results
0  Pearson Chi-square ( 2.0) =    1.8396
1                    p-value =    0.3986
2                 Cramer's V =    0.1104

### Conclusion
* The proportion of boys who prefer the Ola, Uber or None is identical to the proportion of girls.