## F-TEST

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np
import scipy.stats

In [2]:
def f_test(x, y):
    x = np.array(x)
    y = np.array(y)
    f = np.var(x, ddof=1)/np.var(y, ddof=1) 
    dfn = x.size-1 
    dfd = y.size-1
    p = 1-scipy.stats.f.cdf(f, dfn, dfd)  
    return (f, p)

In [3]:
df = pd.read_csv(r'C:\Users\SHARVARI AVHAD\Desktop\Inferential Statistics\Statistics.csv')

In [4]:
df.head()

,Age Group,Gender,Profession,Better Service Provider,Pocket friendly Service,Cashless transactions problem,Daily_spendings,Monthly_spending,Quality decider attribute,Frequency of booking,Most usage day,Punctual service,Offer provider,Fast connector to driver,Faster issue resolver
0,15 - 30,Female,Student,Ola,Ola,Never faced this issue,200,2000,Most,2-3 times in a month,Weekends,Ola,Uber,Ola,Uber
1,15 - 30,Female,Student,Ola,Ola,More often in Uber,100,1500,Pricing,Only on special occasions,Weekends,Ola,Uber,Both equally,Never faced any issue
2,15 - 30,Male,Student,Both provide equal quality,Uber,Faced this issue equally in both,50,1000,Driver's behaviour,Only on special occasions,Weekends,Both equally,Ola,Both equally,Never faced any issue
3,15 - 30,Male,Student,Ola,Uber,Never faced this issue,200,1000,Driver's behaviour,Only on special occasions,Weekdays,Both equally,None,Ola,Never faced any issue
4,15 - 30,Female,Student,Both provide equal quality,Uber,Never faced this issue,100,500,Driver's behaviour,2-3 times in a month,Weekends,Both equally,Ola,Both equally,Never faced any issue

In [5]:
df.mean()

Daily_spendings      174.834437
Monthly_spending    1351.615894
dtype: float64

### Hypothesis

* H0 :- There is no significant difference between Daily Spendings and Monthly spending
* H1 :- There is significant difference between Daily Spendings and Monthly spending

In [6]:
f_test(df.Daily_spendings, df.Monthly_spending)

(0.021494641941026068, 1.0)

### Conclusion

* There is significant difference between Daily Spendings and Monthly spending