## ONE-WAY ANOVA

In [1]:
# Importing Libraries

import pandas as pd
import researchpy as rp
import pingouin as pg
import scipy.stats as stats
import statsmodels.stats.multicomp as mc

C:\Users\SHARVARI AVHAD\AppData\Roaming\Python\Python38\site-packages\outdated\utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.3.10, the latest is 0.3.11.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

In [2]:
df = pd.read_csv(r'C:\Users\SHARVARI AVHAD\Desktop\Inferential Statistics\Statistics.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age Group                      151 non-null    object
 1   Gender                         151 non-null    object
 2   Profession                     151 non-null    object
 3   Better Service Provider        151 non-null    object
 4   Pocket friendly Service        151 non-null    object
 5   Cashless transactions problem  151 non-null    object
 6   Daily_spendings                151 non-null    int64
 7   Monthly_spending               151 non-null    int64
 8   Quality decider attribute      151 non-null    object
 9   Frequency of booking           151 non-null    object
 10  Most usage day                 151 non-null    object
 11  Punctual service               151 non-null    object
 12  Offer provider                 151 non-null    object
 13  Fast connector to driver       151 non-null    object
 14  Faster issue resolver          151 non-null    object
dtypes: int64(2), object(13)
memory usage: 10.1+ KB

# EDA on Data

In [4]:
rp.summary_cont(df['Monthly_spending'])

,Variable,N,Mean,SD,SE,95% Conf.,Interval
0,Monthly_spending,151.0,1351.6159,1306.0078,106.2814,1141.6139,1561.6179

In [5]:
rp.summary_cont(df['Monthly_spending'].groupby(df['Age Group']))

             N       Mean         SD        SE  95% Conf.   Interval
Age Group
15 - 30    131  1265.6412  1297.3792  113.3525  1041.3868  1489.8957
30 - 50     12  1741.2500  1405.3342  405.6850   848.3433  2634.1567
50 +         8  2175.0000  1006.7628  355.9444  1333.3252  3016.6748

# One-Way Anova

* H0:- There is no significant difference between the Age Group with respect to Monthly Spending

* H1:- There is  significant difference between the Age Group with respect to Monthly Spending

In [6]:
sv = pg.anova(data=df, dv='Monthly_spending', between='Age Group', detailed=True)
print(sv)

      Source            SS   DF            MS       F     p-unc       np2
0  Age Group  8.213773e+06    2  4.106887e+06  2.4545  0.089397  0.032104
1     Within  2.476347e+08  148  1.673207e+06     NaN       NaN       NaN

In [7]:
stats.f_oneway(df['Monthly_spending'][df['Age Group'] == '15 - 30'],
               df['Monthly_spending'][df['Age Group'] == '30 - 50'],
               df['Monthly_spending'][df['Age Group'] == '50 +'])

F_onewayResult(statistic=2.454499631099305, pvalue=0.0893967097209779)

### Conslusion

*  There is significant difference between the Age Group with respect to Monthly Spending

# Assumptions of ANOVA

#### Levene Test - It is used to check the equality of Variance between the Brand (Treatment) or Homogeneity of Variance

* H0:- There is no significant difference between the Age Group with respect to Monthly Spending

* H1:- There is  significant difference between the Age Group with respect to Monthly Spending

In [9]:
stats.levene(df['Monthly_spending'][df['Age Group'] == '15 - 30'],
               df['Monthly_spending'][df['Age Group'] == '30 - 50'],
               df['Monthly_spending'][df['Age Group'] == '50 +'])

LeveneResult(statistic=0.3720239949007035, pvalue=0.6899804813517034)

### Conslusion
* There is no significant difference between the Age Group with respect to Monthly Spendin

In [10]:
comp = mc.MultiComparison(df['Monthly_spending'], df['Age Group'])
post_hoc_res = comp.tukeyhsd()
post_hoc_res.summary()